.env                                                                                                                                                                                          
__pycache__/                                              
*.pyc                                   
*.pyo
demo-env/                                                                                                                                                                                     
.venv/   
*.egg-info/                                                                                                                                                                                   
.DS_Store
